$fontSize-14: 14px;
$fontSize-20: 20px;
$bg: #2980B9;

body {
    font-size: $fontSize-14;
    line-height: 1.8;
    color: #818181;
    background-color:white;
    font-family: Montserrat, sans-serif;
}

.logo-container {
    font-family: 'Tillana', cursive;
    font-size: $fontSize-20;
    color:white;
}

.navbar {
    margin-bottom: 0;
    background-color:  $bg;
    z-index: 9999;
    border: 0;
    font-size: $fontSize-14 !important;
    line-height: 1.4 !important;
    letter-spacing: 2px;

    li a, .navbar-brand{
       color: white !important;   
    }
}

.navbar-nav li{ 
    a:hover, &.active a {
        color:  $bg !important;
        background-color: white !important;
    }
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff;
}

.mainbox {
    margin-top: 100px;
}

.footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
    font-size: $fontSize-14;
    padding: 5px 0;
    background-color: $bg;
    color: white;
}

